In [12]:
# import dependencies
import pandas as pd

In [13]:
# List of high schools 
high_schools = ["Huang High School",  "Figueroa High School", "Shelton High School", "Hernandez High School","Griffin High School","Wilson High School", "Cabrera High School", "Bailey High School", "Holden High School", "Pena High School", "Wright High School","Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School"]
print(high_schools)

['Huang High School', 'Figueroa High School', 'Shelton High School', 'Hernandez High School', 'Griffin High School', 'Wilson High School', 'Cabrera High School', 'Bailey High School', 'Holden High School', 'Pena High School', 'Wright High School', 'Rodriguez High School', 'Johnson High School', 'Ford High School', 'Thomas High School']

In [17]:
# create pandas series from list. always watch for caps
school_series = pd.Series(high_schools)
school_series

0         Huang High School
1      Figueroa High School
2       Shelton High School
3     Hernandez High School
4       Griffin High School
5        Wilson High School
6       Cabrera High School
7        Bailey High School
8        Holden High School
9          Pena High School
10       Wright High School
11    Rodriguez High School
12      Johnson High School
13         Ford High School
14       Thomas High School
dtype: object

In [6]:
for school in high_schools:
    print(school)

Huang High School
Figueroa High School
Shelton High School
Hernandez High School
Griffin High School
Wilson High School
Cabrera High School
Bailey High School
Holden High School
Pena High School
Wright High School
Rodriguez High School
Johnson High School
Ford High School
Thomas High School

In [3]:
high_school_types = [{"High School": "Griffin", "Type":"District"},
                    {"High School": "Figueroa", "Type": "District"},
                    {"High School": "Wilson", "Type": "Charter"},
                    {"High School": "Wright", "Type": "Charter"}]
print(high_school_types)

[{'High School': 'Griffin', 'Type': 'District'}, {'High School': 'Figueroa', 'Type': 'District'}, {'High School': 'Wilson', 'Type': 'Charter'}, {'High School': 'Wright', 'Type': 'Charter'}]

In [37]:
for school in high_school_types:
    print(school)

{'High School': 'Griffin', 'Type': 'District'}
{'High School': 'Figueroa', 'Type': 'District'}
{'High School': 'Wilson', 'Type': 'Charter'}
{'High School': 'Wright', 'Type': 'Charter'}

In [38]:
# A dictionary of high schools, we are going to create a dictionary
# column headers are the keys, the value for each of the keys corresponds to the row 
high_school_dicts = [{"School ID": 0, "school_name": "Huang High    School", "type": "District"},
                   {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"}]

In [45]:
# convert arrays or list of dictionaries into dataFrame
school_df = pd.DataFrame(high_school_dicts)
school_df

   School ID            school_name      type
0          0   Huang High    School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [93]:
# convert a list or series to a dataFrame
school_id = [0, 1, 2, 3, 4]
school_name = ["Huang High School", "Figueroa High School",
"Shelton High School", "Hernandez High School","Griffin High School"]
type_of_school = ["District", "District", "Charter", "District","Charter"]

In [94]:
# Initialize a new DataFrame.
schools_df = pd.DataFrame()

In [95]:
schools_df["School ID"] = school_id

#print dataframe
print(school_df)

   School ID            school_name      type            School Name
0          0   Huang High    School  District      Huang High School
1          1   Figueroa High School  District   Figueroa High School
2          2    Shelton High School   Charter    Shelton High School
3          3  Hernandez High School  District  Hernandez High School
4          4    Griffin High School   Charter    Griffin High School

In [58]:
school_df.columns

Index(['School ID', 'school_name', 'type', 'School Name'], dtype='object')

In [61]:
school_df.index

RangeIndex(start=0, stop=5, step=1)

In [62]:
school_df.values

array([[0, 'Huang High    School', 'District', 'Huang High School'],
       [1, 'Figueroa High School', 'District', 'Figueroa High School'],
       [2, 'Shelton High School', 'Charter', 'Shelton High School'],
       [3, 'Hernandez High School', 'District', 'Hernandez High School'],
       [4, 'Griffin High School', 'Charter', 'Griffin High School']],
      dtype=object)

In [63]:
school_df.info

<bound method DataFrame.info of    School ID            school_name      type            School Name
0          0   Huang High    School  District      Huang High School
1          1   Figueroa High School  District   Figueroa High School
2          2    Shelton High School   Charter    Shelton High School
3          3  Hernandez High School  District  Hernandez High School
4          4    Griffin High School   Charter    Griffin High School>

In [88]:
school_ids = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]
school_names = ["Huang High School",  "Figueroa High School", "Shelton High School", "Hernandez High School","Griffin High School","Wilson High School", "Cabrera High School", "Bailey High School", "Holden High School", "Pena High School", "Wright High School","Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School"]
school_types = ["District", "District","Charter", "District","Charter","Charter","Charter","District","Charter","Charter","Charter","District","District","District","Charter" ]

In [89]:
sch_df = pd.DataFrame()

In [97]:
sch_df["School ID"] = school_ids
sch_df["School Name"] = school_names
sch_df["School Type"] = school_types
print(sch_df)

    School ID            School Name School Type
0           0      Huang High School    District
1           1   Figueroa High School    District
2           2    Shelton High School     Charter
3           3  Hernandez High School    District
4           4    Griffin High School     Charter
5           5     Wilson High School     Charter
6           6    Cabrera High School     Charter
7           7     Bailey High School    District
8           8     Holden High School     Charter
9           9       Pena High School     Charter
10         10     Wright High School     Charter
11         11  Rodriguez High School    District
12         12    Johnson High School    District
13         13       Ford High School    District
14         14     Thomas High School     Charter