In [1]:
# Add the Pandas dependency.
import pandas as pd 
import os

In [3]:
# files to load 
school_data_to_load = os.path.join("Resources", "schools_complete.csv")
student_data_to_load = os.path.join("Resources", "students_complete.csv")

In [6]:
    # read school data and store as dataframe
    school_data_df = pd.read_csv(school_data_to_load)
    #in case we have a large dataset we can use head or tail to view top 5 or .sample to view a random sample
    #school_data_df.head()
    #school_data_df.tail()
    school_data_df

    School ID            school_name      type  size   budget
10         10     Wright High School   Charter  1800  1049400
11         11  Rodriguez High School  District  3999  2547363
12         12    Johnson High School  District  4761  3094650
13         13       Ford High School  District  2739  1763916
14         14     Thomas High School   Charter  1635  1043130

In [7]:
#read students data and store as dataframe
student_data_df = pd.read_csv(student_data_to_load)
student_data_df.sample()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
4971,4971,Sharon Fletcher,F,11th,Figueroa High School,94,59